<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
        <title>EazyWizy.com</title>
        @Styles.Render("~/Content/Site/css")    
        @Styles.Render("~/Content/kendo/css") 
        @Scripts.Render("~/bundles/jquery")  
        @Scripts.Render("~/bundles/kendo")   
        @Scripts.Render("~/bundles/Site")   
   
</head>
<body>
 <div class="content">
		<div class="top_block Header">
		    <div class="content">
		        <div style="text-align: left; float: left">
		             <img style="height: 70px; " src="~/Content/Images/logo.png" />
		        </div>
		        <div style="text-align: right; float: right">
		            <img style="height: 70px; " src="~/Content/Images/shopping-cart-with-groceries.png" />

		        </div>
                <div style="clear: both"></div>
		    </div>
		</div>
		 @RenderBody()
		<div class="bottom_block Footer">
		    <div class="content">
		        COPYRIGHT © @DateTime.Now.Year EazyWizy.com [Best viewed in 1280x800 and above]
		    </div>
		</div>
	</div>
</body>
</html>